<label>Filter code: </label><input type="text" [(ngModel)]='listfiltered' />
<h4>Filter By: {{listfiltered}}</h4>
<table *ngIf='items && items.length'>
    <tbody>
        <tr>
            <th><button (click)='toggleButton()'> {{showImage? 'Hide' : 'Show'}} Image</button></th>
            <th>id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Value</th>
            <th>Amount</th>
        </tr>
        <tr *ngFor='let item of filteredItem'>
            <td><img [src]='item.imageSrc' [title]='item.value' [style.width.px]='imgWidth'
                    [style.margin.px]='imgMargin' *ngIf='showImage'> </td>
            <td>{{item.ID}}</td>
            <td>{{item.Code | ConvertToSpace : '-'}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.value}}</td>
            <td>{{item.Amount | currency:"VND"}}</td>
        </tr>
    </tbody>
</table>